{% extends 'base.html' %} {% block content %}
{% load static %}


<div class="card mx-auto mt-5 justify-content-center" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'Eshop/images/download.jpeg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hello Ji</h5>
      <p class="card-text">Kive lga saada bazaar, here sb kuch free hai tuhade liye pr filhaal milega kuch nhi &#128517</p>
      <a href="/" class="btn btn-primary">Chliye shopping suru kre &#128514;</a>
    </div>
  </div>

{%endblock%}
